.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 20px;
  margin-top: 40px;
  background-color: #f0f2f5;
  overflow-y: auto;
  transition: margin-left 0.3s;
}
